@import "variables";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~bootstrap/scss/bootstrap";

// Legacy CSS TODO: Convert to SCSS
@import "legacy";


body {
	&.portal-mode-edit {
		svg {
			path {
				&.gtx-logo-dot {
					fill: #c34343;
				}
			}
		}
	}

	&.portal-mode-preview {
		svg {
			path {
				&.gtx-logo-dot {
					fill: #ffaa6e;
				}
			}
		}
	}

	.didyoumean {
		font-weight: 600;

		a {
			color: #007bff;
			margin-left: 5px;
			font-style: italic;
		}
	}
}
